html {
  height: 100%;
}

body {
  text-align: center;
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: rgb(94, 18, 218);
}

.header-img {
  background-image: url(/images/images.jpeg);
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(73, 236, 32);
}

h2 {
  color: rgb(230, 114, 6);
}

main {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  width: 300px;
}

.hidden {
  display: none;
}

footer {
  font-size: 2rem;
  color: rgb(73, 236, 32);
}